In [51]:
import pandas as pd

In [52]:
from sklearn.ensemble import RandomForestClassifier

In [53]:
model = RandomForestClassifier()

In [54]:
test = pd.read_csv(r'C:\Users\rjhcl\Downloads\decision-treesrandom-forests-2020\test.csv')
train = pd.read_csv(r'C:\Users\rjhcl\Downloads\decision-treesrandom-forests-2020\train.csv')

In [55]:
test

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,0,16036,1,165,125.0,160,100,1,2,0,0,0
1,1,17004,1,165,120.0,100,75,2,1,0,0,1
2,2,17547,1,151,58.0,110,60,2,1,0,0,1
3,3,20562,1,172,70.0,130,90,1,1,0,0,1
4,4,18759,1,168,64.0,110,80,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,19542,2,165,68.0,150,90,1,1,0,0,1
996,996,21153,1,148,79.0,140,80,2,2,0,0,1
997,997,19673,1,170,82.0,120,80,1,1,0,0,0
998,998,19662,2,170,67.0,90,60,1,1,0,0,0
999,999,18371,2,165,68.0,120,60,1,1,0,0,1

In [56]:
df.fillna(df , axis='columns' , inplace = True)

In [57]:
X = test

In [58]:
y = train['cardio']

In [59]:
y = y.interpolate(method="quadratic")

In [60]:
from sklearn.model_selection import train_test_split

In [62]:
y = y.interpolate(method="quadratic").round()

In [63]:
y

0       0
1       0
2       0
3       0
4       0
       ..
3995    0
3996    1
3997    1
3998    1
3999    1
Name: cardio, Length: 4000, dtype: int64

In [64]:
model.fit(X_train , y_train)

RandomForestClassifier()

In [65]:
pred = model.predict(X_train)

In [67]:
pred

array([1, 1, 0, ..., 0, 0, 0], dtype=int64)